/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ks-bold-color: #ff7ab8;
  --ks-h1-color: #ffee53;
}

article h1 {
  color: var(--ks-h1-color);
}

article header h2 > a {
  color: var(--ks-h1-color);
  text-decoration: none;
}

article header h2 > a:hover {
  color: var(--ks-h1-color);
}

.markdown > p {
  margin-bottom: 12px;
}


.markdown > ol > li > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.markdown > h2 {
  color: #8bf187;
  font-size: 1.6em;
  border-bottom: 1px solid #666;
  margin-bottom: 12px;
  margin-top: 20px;
}

.markdown > h3 {
  color: #58aeff;
  font-size: 1.3em;
}

article strong,
article em {
  color: var(--ks-bold-color);
}

article a {
  text-decoration: underline;
}